<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gymbo - Index</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">
    <div class="text-center">
        <img src="https://phantom-marca-mx.unidadeditorial.es/681917df868d0dc7b097c1658a91db3d/resize/828/f/jpg/mx/assets/multimedia/imagenes/2023/05/20/16846178754107.jpg" alt="Gymbo" class="mx-auto mb-4" style="max-width: 300px;">
        <h1 class="text-2xl font-bold mb-6">Gymbo app</h1>
        <div class="mb-4">
            <input type="text" placeholder="Nombre de Usuario" class="block w-full px-4 py-2 mb-3 border rounded" />
            <input type="password" placeholder="Clave" class="block w-full px-4 py-2 mb-3 border rounded" />
        </div>
        <button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700 transition duration-300">Iniciar Sesión</button>
    </div>
</body>
</html>

